# Jekyll build output and caches
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler / Node
.bundle/
node_modules/
# Do NOT ignore vendor/ (needed for GitHub Pages builds)

# OS files
.DS_Store
